.custom-carousel-container {
    width: 100%; /* Ancho completo */
    /* height: 300px;  */
  }
  
  .custom-carousel-item {
    height: 100%; /* Asegura que el contenido ocupe la altura completa del contenedor */
  }
  
  .custom-carousel-item img {
    height: 350px;
    max-height: 100%; 
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor manteniendo su proporción */
  }
  