
.bienvenida-container {
    position: relative;
    background-image: url("../assets/fondoperritos.png");
    background-size: contain; /*Ajusta la imagen de fondo para que se ajuste al contenedor sin distorsión*/
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    width: 100vw; /* Ancho del contenedor igual al ancho de la ventana del navegador */
    height: 100vh; /* Altura del contenedor igual a la altura de la ventana del navegador */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    color: white;
    font-family: 'Poppins';
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); /* Mover hacia abajo 50px */
    }
    to {
        opacity: 1;
        transform: translateY(50); /* Sin movimiento vertical */
    }
}



.titulo-principal {
    font-size: 9em;
    color: white;
    background-color: transparent;
    margin-top: 30cm;
}

.texto-derecha {
    width: 50%; /* Ajusta el ancho del texto */
    padding: 20px; /* Agrega un poco de espacio alrededor del texto */
    background-color: rgba(255, 255, 255, 0); /* Fondo blanco semi-transparente */
    text-align: justify; /* Justifica el texto */
    margin-top: 9cm; /* Mueve el título hacia abajo 3 cm */
}
