
/* 
*{
   background: linear-gradient(to right, rgb(134, 11, 130), rgb(194, 215, 213)); 
 color: white;
  font-family: 'Poppins', sans-serif; 
} */

*{
  color: black;
  font-family: 'Poppins', sans-serif; 
}



